 form.signup,
form.login {
  margin-top: 50px;
} 


#backgroundWrapper{
  background-image: url("library.jpg");
  width: 100vw;
  height: 100vh;
  top: 0px;
  left: 0px;
  position: fixed;
  display: block;
}

#dashBoard.container{
  margin-top: 100px;
  min-height: 300px;
  max-height: calc(100vh - 200px);
  background-color: #292929;

  padding-right: 0px;
  padding-left: 0px;
  overflow: auto;
  -ms-overflow-style: none;
  overflow: -moz-scrollbars-none;
}

#dashBoard.container::-webkit-scrollbar {
  width: 0 !important;
}

#loginDiv.container{
  border-radius: 7px;
  margin-top: 100px;
  width: 400px;
  min-height: 300px;
  background-color: rgb(236, 235, 235);
}

#signUpDiv.container{
  border-radius: 7px;
  margin-top: 100px;
  width: 400px;
  min-height: 300px;
  background-color: rgb(236, 235, 235);
}

.h3{
  color: white;
}

#sideBar{
  padding-top: 10px;
  padding-left: 10px;
  width: 225px;
  height: 645px;
  float: left;
  position: relative;
}

#sideBar h4{
  margin-top: 25px;
  color: white;
}

#searchCats{
  margin-top: 10px;
}

#userSearch{
  margin-left: 2px;
  width: 200px;
  
}

#searchBtn{
  margin-top: 10px;
  margin-left: calc(65% - 73px);
}

#bookContainer{
  width: 100%;
  min-height: 600px;
  background-color: #EEEEEE;
  margin-bottom: 20px;
}

#content{
  width: calc(100% - 250px);
  position: relative;
  float: left;
}

#bottomSection{
  width: 100%;
  bottom: 0px;
  position: absolute;
}

#addBookBtn{
  margin-left: calc(65% - 95px);
}

.bookDiv{
  padding: 20px;
  margin-right: 10px;
  width: 250px;
}

#addNewBookBtn{
  background-color: white;
  border: 1px solid black;
}


/*==============Member.html Styling=========================*/
#membersBackground {
  background-image: url("pages.jpg");
}
#indexBackground {
  background-image: url("colorfulBooks.jpg");
}

.jumbotron, #loginDiv, #signUpDiv{
  box-shadow: 5px 5px 8px gray;
}
.index { background-color: rgb(224, 217, 217);
}
.navbar { background-color: teal;
}

