form.signup, form.login {  margin-top: 50px;
} 

#backgroundWrapper{ background-image: url("images/library.jpg");
                    background-size: cover;
                    background-repeat: no-repeat;
                    width: 100vw;
                    height: 100vh;
}

#loginDiv.container{  border-radius: 7px;
                      margin-top: 100px;
                      width: 400px;
                      min-height: 300px;
                      background-color: rgb(236, 235, 235);
                      padding: 10px;
}

#signUpDiv.container{ border-radius: 7px;
                      margin-top: 100px;
                      width: 400px;
                      min-height: 300px;
                      background-color: rgb(236, 235, 235);
                      padding: 10px;
}

.mainBookSearch { background-color:rgb(236, 235, 235);
                  border-radius: 10px;
                  box-shadow: 5px 4px 8px gray;
                  margin-top: 5%;
                  margin-bottom:5%;
                  padding:20px;
                  height: 80vh;
}

.userSaved { 
              float:left;
              margin-top: 5%;
              margin-bottom:5%;
              margin-right: 10px;           
}

.card { box-shadow: 5px 4px 8px gray;
        width: 100%;
}

body { background-color: rgba(255, 252, 221, 0.911);
}

.jumbotron, #loginDiv, #signUpDiv{  margin-top: 100px;
                                    box-shadow: 5px 5px 8px gray;
                                    text-align: center;
}

#indexBackground {  background-image: url("images/colorfulBooks.jpg");
                    background-size: cover;
                    background-repeat: no-repeat;
                    width: 100vw;
                    height: 100vh;
}

.index { background-color: rgb(224, 217, 217);
}

.navbar { background-color: teal;
}

#membersBackground {  background-image: url("images/library.jpg");
                      background-size: cover;
                      background-repeat: no-repeat;
                      width: 100vw;
                      height: 100vh;
                      font-family: 'Libre Franklin', sans-serif;
}

a:hover { background-image:url("images/worm.png");
          background-repeat: no-repeat;
}

.btn {  margin:5px;
}

h1 { font-family:'Shadows Into Light', cursive;
}

.navbar-brand {  color: white;
}

.add-new {  padding: 5px;
            border-radius: 10px;
            background-color: rgb(252, 125, 7);
            border-color: rgb(252, 125, 7);
            margin:10px;
            color: white;
}

#book-name {  margin: 10px;
}

.update-database {  padding: 7px;
                    border-radius: 10px;
                    background-color: rgb(233, 90, 233);
                    border-color:rgb(233, 90, 233);
                    margin:10px;
                    color: white;
}

.addCoverImage {  margin-top:20px;
  }

.addChapter { text-align:center;
              background-color: rgb(252, 125, 7);
              border-color: rgb(252, 125, 7);
              color: white;
              padding: 5px;
              border-radius: 10px;
              margin: 10px;
              float: right;
  }
  
.publish {  background-color: rgb(233, 90, 233);
            border-color:rgb(233, 90, 233);
            color: white;
            padding: 5px;
            border-radius: 10px;
            margin: 10px;
            float: right;
}

.coverImage { padding: 5px;
              border-radius: 5px;
              margin: 10px;
}