form.signup, form.login {  margin-top: 50px;
} 

#backgroundWrapper{ background-image: url("library.jpg");
                    background-size: cover;
                    background-repeat: no-repeat;
                    width: 100vw;
                    height: 100vh;
}

#loginDiv.container{  border-radius: 7px;
                      margin-top: 100px;
                      width: 400px;
                      min-height: 300px;
                      background-color: rgb(236, 235, 235);
                      padding: 10px;
}

#signUpDiv.container{ border-radius: 7px;
                      margin-top: 100px;
                      width: 400px;
                      min-height: 300px;
                      background-color: rgb(236, 235, 235);
                      padding: 10px;
}

.mainBookSearch { background-color:rgb(236, 235, 235);
                  border-radius: 10px;
                  box-shadow: 5px 4px 8px gray;
                  margin-top: 15px;
                  padding:20px;
                  height: 80vh;
}

.userSaved {  background-color:rgb(236, 235, 235);
              border-radius: 10px;
              float:left;
              box-shadow: 5px 4px 8px gray;
              margin-top: 15px;
              margin-right: 10px;
              padding:20px;
}

body { background-color: rgba(255, 252, 221, 0.911);
}

.jumbotron, #loginDiv, #signUpDiv{  margin-top: 100px;
                                    box-shadow: 5px 5px 8px gray;
                                    text-align: center;
}

#indexBackground {  background-image: url("colorfulBooks.jpg");
                    background-size: cover;
                    background-repeat: no-repeat;
                    width: 100vw;
                    height: 100vh;
}

.index { background-color: rgb(224, 217, 217);
}

.navbar { background-color: teal;
}

#membersBackground {  background-image: url("library.jpg");
                      background-size: cover;
                      background-repeat: no-repeat;
                      width: 100vw;
                      height: 100vh;
                      font-family: 'Libre Franklin', sans-serif;
}

a:hover { background-image:url("worm.png");
          background-repeat: no-repeat;
}

.btn {  margin:5px;
}

h1 { font-family:'Shadows Into Light', cursive;
}

.navbar-brand {  color: white;
}

.add-new {  padding: 10px;
            border-radius: 10px;
            background-color: orange;
            border-color: orange;
            margin:10px;
}

#book-name {  margin: 10px;
}

.update-database {
  padding: 5px;
  border-radius: 10px;
  background-color: rgb(233, 90, 233);
  border-color:rgb(233, 90, 233);
  margin:10px;
  }
